<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ page_title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <form>
            <button><a href='/mentors'>Mentors</a></button>
            <button><a href='/all-school'>Schools</a></button>
            <button><a href='/mentors-by-country'>Mentors</a></button>
            <button><a href='/contacts'>Contacts</a></button>
            <button><a href='/applicants'>Applicants</a></button>
            <button><a href='/applicants-and-mentors'>Apps and ments</a></button>
            <table id=table>
        </form>
    </body>
</html>