<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ page_title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/mentors'>Mentors</a></li>
            <li><a href='/all-school'>Schools</a></li>
            <li><a href='/mentors-by-country'>Mentors by country</a></li>
            <li><a href='/contacts'>Contacts</a></li>
            <li><a href='/applicants'>Applicants</a></li>
            <li><a href='/applicants-and-mentors'>Apps and ments</a></li>
        </ul>
        <form>
            <table>           
                <tr>
                    {% for row in range(title_length) %}
                    <th> {{ table_titles[row] }} </th>
                    {% endfor %}         
                    {% for row in range(length) %}
                        <tr id=row>
                            {% for column in range(0,row_length) %}
                            <td id=column> {{ show_table[row][column] }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tr>
        </form>
    </body>
</html>